# Maven
/target/

# Compiled class files
*.class

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

# IDEs and editors
.idea/
.vscode/
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride
/target/
.env

# Temporary files
*.tmp
*.swp